* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#pedido {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: green;
    color: white;
    font-size: 1.4rem;
    width: auto;
}

.btn-word {
    border: none;
    background-color: transparent;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btn-word img {
    opacity: 0.7;
    border-radius: 100%;
    transition: all 200ms ease-in-out;
}

.btn-word img:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: #0000008f 1px 5px 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(29, 29, 29);
    color: #fff;
}

h1 {
    font-weight: bolder;
    letter-spacing: 7px;
    font-size: 54px;
}

a {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    color: inherit;
    text-decoration: none;
    opacity: 0.7;
}

a:hover {
    opacity: 1;
}

#lista {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: #dddddd2e;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
}

#lista li {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    padding: 12px;
}

#lista li:hover {
    background-color: #ffffffa0;
    color: #090909;
}

#lista button {
    background-color: transparent;
    border: none;
    opacity: 0.7;
}

#lista button:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.5);
}